.edit-main{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    max-width: 100vw;
    height: calc(90vh - 10px);
    flex-wrap: wrap;
}

@media (max-width:720px) {
    
}

.e-acts{
    flex-grow: 1;
    max-width: 15%;
    background-color: var(--dark-600);
}

.e-editor{
    flex-grow: 12;
    margin: 0 30px;
    background-color: var(--dark-600);
}

.e-sug{
    flex-grow: 1;
    max-width: 15%;
    text-overflow: ellipsis;
    background-color: var(--dark-600);
}