@import "tailwindcss";

body {
  margin: 0;
  background-color: var(--dark-500);
  color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {

  /* calor */
  /* --dark-50:#1F1F1F;
  --dark-100:#1A1A1A;
  --dark-200:#1c1717;
  --dark-300:#181414;
  --dark-400:#161212;
  --dark-500:#141010;
  --dark-600:#110d0d;
  --dark-700:#0e0b0b;
  --dark-800:#080606; */

  --dark-50: #1F1F1F;
  --dark-100: #1A1A1A;
  --dark-200: #17171C;
  --dark-300: #141418;
  --dark-400: #121216;
  --dark-450: #121215;
  --dark-500: #101014;
  --dark-600: #0D0D11;
  --dark-700: #0B0B0E;
  --dark-800: #060608;

  --dark-primary:#1B1B1F;
  --light-primary:#ffffff;
  --bg:#161618;


  --yellow-50:  #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;

  /* Blue */
  /* --yellow-50: #f0f4ff;
  --yellow-100: #d9e2ff;
  --yellow-200: #b0c4ff;
  --yellow-300: #86a4ff;
  --yellow-400: #5e83f4;
  --yellow-500: #3e65e4;
  --yellow-600: #2e4fc4;
  --yellow-700: #223e9e;
  --yellow-800: #192d73;
  --yellow-900: #111d47;
  --yellow-950: #0a1026; */

  /* RED */
  /* --yellow-50: #fef3f2;
  --yellow-100: #fee4e2;
  --yellow-200: #ffcec9;
  --yellow-300: #fdaca4;
  --yellow-400: #fa7b6f;
  --yellow-500: #f25041;
  --yellow-600: #df3323;
  --yellow-700: #bc2719;
  --yellow-800: #9b2419;
  --yellow-900: #81241b;
  --yellow-950: #460e09; */

  --gray: #737373;

  --header-h: 8vh;
  --page-h: calc(100vh - var(--header-h));
}



*::-webkit-scrollbar{
  background-color: transparent;
  width: 5px;
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}

*::-webkit-scrollbar-thumb{
  background-color: var(--dark-100);
  border-radius: 12px;   
}

html {
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  color: var(--yellow-500);
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  color: var(--yellow-500);
}

h3 {
  font-size: 2rem;
  color: var(--yellow-500);
}

h4 {
  font-size: 1.8rem;

}

h5 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  /* transition: all ease-in-out 0.1s; */
}

a:hover {
  text-decoration: underline;
  color: var(--yellow-400);
}

input:focus {
  outline: var(--gray) solid;
}

textarea {
  background-color: var(--dark-700);
  padding: 5px;
  border-radius: 6px;
  outline: solid rgb(0, 0, 0, 0);
  transition: all ease-in-out 0.3s;
}

textarea:focus {
  outline: var(--gray) solid;
}

::-ms-reveal {
  filter: invert(100%);
}

fieldset div {
  display: flex;
  flex-direction: column;
}

