.inp {
    background-color: black;
    border-radius: 6px;
    padding: 5px;
    outline: solid rgb(0, 0, 0, 0);
    transition: all ease-in-out 0.3s;
}

.inp-void {
    background-color: transparent;
    padding: 5px;
    border-radius: 6px;
    outline: none;
    transition: all ease-in-out 0.3s;
}

.inp-void:focus {
    outline: none;
}


.inp-noline {
    outline: none;
}

.inp-noline:focus {
    outline: none;
}

.inp-contraste {
    background-color: var(--dark-500);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}